name: Build

on: [push]

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macOS-latest]

    steps:
    - name: Obtain latest version of the repository
      uses: actions/checkout@v1
    - name: Set up Python 3
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install requirements with PIP
      run: pip install -r requirements.txt
    - name: Install pyinstaller
      run: pip install pyinstaller
    - name: Build Open Shop Channel Downloader
      run: pyinstaller --onefile --icon=oscicon.ico osc-dl.py
    - name: Publish Build Artifacts
      uses: actions/upload-artifact@master
      with:
        name: ${{ matrix.os }}
        path: dist

  BuildGUI:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
    - name: Obtain latest version of the repository
      uses: actions/checkout@v1
    - name: Set up Python 3
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install requirements with PIP
      run: pip install -r requirements_GUI.txt
    - name: Install pyinstaller
      run: pip install pyinstaller
    - name: Build Graphical Open Shop Channel Downloader
      run: pyinstaller xosc_dl.spec
    - name: Publish Build Artifacts
      uses: actions/upload-artifact@master
      with:
        name: '${{ matrix.os }}-GUI'
        path: dist
    - uses: dhtdht020/openshop-status-discord@master
      name: Send discord webhook
      if: always()
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      with:
        status: ${{ job.status }}
        title: "Build #${{ github.run_number }} of OSC-DL: ${{ job.status }}"
        description: "In-development build number #${{ github.run_number }} of OSC-DL is now available.\nThis is a dev build, and it might not be stable. [Download Build](https://github.com/dhtdht020/osc-dl/actions/runs/${{ github.run_id }})"
        nodetail: true
        username: OSC-DL

